h1 { 
        justify-content: center;
        margin: 60px;
}
.table {
    margin: 60px;

}
hr {
    border: black;
}
.btn-outline-danger{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
    background-color: #f44336;;
}
.btn-outline-primary2 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  cursor: pointer;
  background-color: #008CBA;
}
form {
  display: flex;
  justify-content: space-around ;
}